body{
    font-family: ‘Montserrat’, sans-serif;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

img{
    width: 60px;
    height: 48px;
}

h1{
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    text-transform: capitalize;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.privacy{
    color: #737272;
}

.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin-top: 10px;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container{
    margin: 20px 0;
}

.social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
    
button{
    border-radius: 20px;
    border: 1px solid #101010;
    background: #101010;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    outline: none;
    cursor: pointer;

}

button:active{
   transform: scale(0.95);    
}

button.ghost {
    background:transparent;
    border-color: #fff;;
}

button a{
    color: white;
}